spring-beans/src/main/resources/org/springframework/beans/factory/xml/spring-customtag.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.sunhu.org/schema/company"
  xmlns:tns="http://www.sunhu.org/schema/company"
  elementFormDefault="qualified">

  <xsd:element name="company">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:string"/>
      <xsd:attribute name="companyName" type="xsd:string"/>
      <xsd:attribute name="address" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
